* {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

a:visited {
    color: #E5E7EB;
}

a:hover {
    color: #9e9f9f;
}

ul {
    list-style: none;
    display: flex;
    gap: 8px;
    
}

header {
    background-color: #1F2937;
    color: white;

}
.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    border: solid;
}

.logo {
  font-size: 24px;
  font-weight: 900;
  color: #F9FAF8;
}
/*
Nav bar styled accordingly, need to align hero content correctly. 
Try adding a container spefcically around the hero so it doesnt interfear with the nav bar.
*/