* {
    font-family: 'Roboto', sans-serif;
}

html, body {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

a:visited {
    color: #E5E7EB;
}

a:hover {
    color: #9e9f9f;
}

ul {
    list-style: none;
    display: flex;
    gap: 8px;
    
}

header {
    background-color: #1F2937;
    color: white;

}
.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #F9FAF8;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px;
    padding-bottom: 130px;

}

.text {
    margin-right: 50px;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin-bottom: 5px;
}

.hero-secondary-text {
    font-size: 18px;
    color: #E5E7EB;
    margin-top: 5px;
}

.hero-img {
    margin-left: 50px;
}

button {
    background-color: #3882F6;
    border-radius: 8px;
    border: none;
    padding: 12px;
    font-size: 15px;
}

.content-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    border: solid;
    border-color: red;
}

.main-text {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.sub-text {
    font-size: 18px;
    color: #1F2937;
    margin-top: 5px;
}



.content-cards {
    display: flex;

    border: solid;
    border-color: red;
}



/*
Need to Debug get font-weight to act accordingly.
Move onto to Infomation Cards next session.
*/