* {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

a:visited {
    color: #E5E7EB;
}

a:hover {
    color: #9e9f9f;
}

ul {
    list-style: none;
}

header {
    background-color: #1F2937;
    color: white;
}