* {
    font-family: 'Roboto', sans-serif;
}

html, body {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

a:visited {
    color: #E5E7EB;
}

a:hover {
    color: #9e9f9f;
}

ul {
    list-style: none;
    display: flex;
    gap: 8px;
    
}

header {
    background-color: #1F2937;
    color: white;

}
.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #F9FAF8;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px;
    padding-bottom: 130px;

}

.hero-img {
    border-radius: 10px;
}

.text {
    margin-right: 50px;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin-bottom: 5px;
}

.hero-secondary-text {
    font-size: 18px;
    color: #E5E7EB;
    margin-top: 5px;
}

.hero-img {
    margin-left: 50px;
}

button {
    background-color: #3882F6;
    border-radius: 8px;
    border: none;
    padding: 12px;
    font-size: 15px;
}

.content-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

   
}

main {
    margin-bottom: 50px;
}

.main-text {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin-top: 50px;
}

.sub-text {
    font-size: 18px;
    color: #1F2937;
    margin-top: 5px;
}

.content-cards {
    display: flex;
    align-items: flex-start;
}

.info {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}

.info-img {
    width: 200px;
    height: 200px;
    margin-top: 18px;
    border-radius: 10px;
    border: solid;
    border-color:#5185a7;
    border-width: 3px;
}

.info-text {
    width: 250px;
    margin-top: 12px;
    font-size: 16px;
    color: #1F2937;
}

.cta-quote {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cta-text {
    font-size: 26px;
    font-weight: 300px;
    color: #1F2937;
    width: 750px;
    margin-top: 80px;
    margin-left: 80px;
    margin-right: 80px;
}

.quote-by {
    font-weight: 900px;
    color: Black;
    margin-top: 0px;
    margin-bottom: 80px;
}

.cta-button-container {
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.cta-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882F6;
    width: 1000px;
    border-radius: 10px;
    padding: 22px;
}

.cta-button-text {
    color: white;
    margin-right: auto;
    padding-left: 120px;
    
}

.border-button {
    border: solid;
    color: white;
    border-color: white;
    border-radius: 10px;
    margin-right: 150px;
    padding: 6px 12px;
}

.cta-button-main {
    margin-bottom: 6px;
    font-size: 22px;
    font-weight: 700px;
}

.cta-button-sub {
    margin-top: 6px;
    font-size: 16px;
    color: #E5E7EB;

}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
   
    padding: 50px;
    background-color: #1F2937;
    color: #E5E7EB;
}


/*
 Need to style Footer.

Need to Debug get font-weight to act accordingly.
*/